In [1]:
import numpy as np
import pandas as pd
import joblib

In [3]:
new_ds=pd.read_csv("new_ds.csv")
svd=joblib.load('../models/svd_model.pkl')
ratings=pd.read_csv(r"../dataset/ratings.csv")

In [4]:
def recommendonmovie(movie):
    similarity=np.load('similaritybwmovies.npy')
    movie_index=new_ds[new_ds["title1"]==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    for i in movies_list:
        print(new_ds.iloc[i[0]].title1)

In [5]:
def del_variable(variable1):
    del variable1
del_variable(svd)

In [6]:
def get_best_movies(obj,id,obj1):
    movieid=obj1['id'].unique()
    l=[]
    b=[]
    for movie in movieid:
        result=svd.predict(id,movie)
        estimation=result[3]
        b.append((movie,estimation))
    return b

In [7]:
def get_recommendations(userid):
    predictions=get_best_movies(ratings,userid,new_ds)
    lis=[]
    sorted_predictions=sorted(predictions,key=lambda x:x[1],reverse=True)
    sorted_predictions=sorted_predictions[0:10]
    
    for i in sorted_predictions:
        specific_row =new_ds[new_ds["id"]==i[0]]['title1'].values[0]
        print(specific_row)

In [8]:
get_recommendations(7800)

5 Card Stud
The Scapegoat
Sleepless in Seattle
The Million Dollar Hotel
CrissCross
Shriek If You Know What I Did Last Friday the Thirteenth
A Woman, a Gun and a Noodle Shop
The 39 Steps
License to Wed
Commune

In [10]:
recommendonmovie('The 39 Steps')

The Quiller Memorandum
The Secret Fury
Secret Agent
Topaz
The Unsuspected
Deadly Blessing
Mystery Road
The Marksman
A Night to Remember
The Missing Juror

In [11]:
moviesnew=pd.read_csv(r"moviesnew.csv")

In [12]:
moviesnew['tag']=moviesnew['tag'].apply(lambda x:x.replace(" ",''))
moviesnew['tag']=moviesnew['tag'].apply(lambda x:x.lower())

In [19]:
import re
def search(keywords):
    
    keywords=keywords.lower()
    keywords=keywords.split()
  
    # Filter the DataFrame based on the keywords
    filtered_rows = []
    for index, row in moviesnew.iterrows():
        text = row['tag']
        
        if all(re.search(keyword, text) for keyword in keywords):
            filtered_rows.append(row)
        
        

    filtered_df = pd.DataFrame(filtered_rows)

    filtered_df=filtered_df.sort_values(by='vote_average',ascending=False)
    # Print the filtered DataFrame
    print(filtered_df['title1'].head(10))

In [21]:
search("horror comedy")

42875                                       Zombie Pizza
31156                                          Zapatlela
43154                       Carnage: Swallowing the Past
24413                                            Ward 13
44465                      Hasan Minhaj: Homecoming King
29115    Forklift Driver Klaus: The First Day on the Job
38196                                      Mock Up on Mu
1090                                       The Sleepover
27652                             Danger! 50,000 Zombies
13445                                    Singapore Sling
Name: title1, dtype: object

In [22]:
ratings.head(-1)

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990

[26024288 rows x 4 columns]